:root {
  --primary: rgb(255, 233, 31);
  --primary-light: rgb(255, 240, 107);
  --primary-dark: rgba(255, 232, 31, 0.8);

  --secondary: #bbb;
  --tertiary: #111;

  --green: rgb(0, 221, 4);
  --green-light: rgb(103, 255, 105);

  --blue: rgb(0, 60, 255);
  --blue-light: rgb(104, 139, 255);
  --blue-dark: rgba(0, 60, 255, 0.8);

  --red: rgb(255, 0, 0);
  --red-light: rgb(255, 102, 102);
  --red-dark: rgba(255, 0, 0, 0.8);
}
